#charts{
  background-color: rgb(242, 246, 248);
  font-style: bold;
  border-color: rgb(231, 231, 231);
  border-style: inset;
  height: 100%;
  padding: 5%;
}
#linecharts{
  width: 40%;
  height: 40%;
}
#eventLine{
  background-color: rgb(192, 210, 243);
  color: black;
  border-color: rgb(192, 210, 243);
  border-style: inset;
  padding: 5%;
  max-height: 50%;
  overflow-y: scroll;
}
#eventLine::-webkit-scrollbar {
  display: none;
}